
/* body{
  background-image: radial-gradient(circle, rgba(255,0,0,0), rgb(62, 149, 184));
} */
.container{
  /* background: gold;
  color: darkred; */
  text-align: center;
  font-style: oblique;
  font-size: x-large;
}

#quiz{
  margin-left:10%;
  font-size: larger;
}

#results{
  text-align: center;
  font-style:italic;
  font-size:x-large;
}



h4{
  text-align: center;
  font-size: 20;
  color:crimson;
}

.night-mode{
  text-align: right;
  margin-right: 5%;
  margin-top: 2%;
}

button{
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 7px 10px 7px;
  border: 2px solid #0099CC;
  border-radius: 40px;
}

input{
  cursor: pointer;
}

label{
  cursor: pointer;
  font-style: italic;
}